NEXT_PUBLIC_SUPABASE_URL=https://iywjfvhuuczbkxpnutst.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5d2pmdmh1dWN6Ymt4cG51dHN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1ODA3NDUsImV4cCI6MjA5NTE1Njc0NX0.Tn3_TgsG70XjW5H5lo3ZdzYB_W_YLbakyfzyEG4VUec
 